<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('./partials/head.ejs') %>
  <!-- Head -->

  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs') %>
    <!-- Navbar -->

    <!-- Main -->
    <!-- Create Blog -->
    <div class="container">
      <div class="row">
        <div class="col-6 offset-3 mt-5 pt-5">
          <div class="blog mt-5 p-5 shadow-lg rounded-3">
            <div class="blog-title text-center mb-4 px-3">
              <h1>Create Blog</h1>
              <hr />
            </div>
            <div class="blog-content">
              <form action="/blogs" method="POST">
                <div class="mb-3">
                  <label for="title" class="form-label">Blog Title</label>
                  <input
                    type="text"
                    name="title"
                    id="title"
                    class="form-control"
                    placeholder="Enter Blog Title . . ."
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="snippet" class="form-label">Blog Snippet</label>
                  <input
                    type="text"
                    name="snippet"
                    id="snippet"
                    class="form-control"
                    placeholder="Enter Blog Snippet . . ."
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="body" class="form-label">Blog Body</label>
                  <textarea
                    name="body"
                    id="body"
                    cols="30"
                    rows="7"
                    class="form-control"
                    required
                  ></textarea>
                </div>
                <div class="mt-4 d-grid">
                  <button class="btn btn-dark py-2">Create</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Create Blog -->
    <!-- Main -->

    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <!-- Footer -->
  </body>
</html>
